@media (max-width: 769px) {
  main::after {
    width: 100vw;
  } 

  main .personagem .imagem {
    height: 85%;
  }

  .conteudo {
    justify-content: flex-end;
    left: 0;
    top: -20%;
    max-width: 100vw;
    padding: 30px;
  }

  .conteudo .nome-personagem {
    font-size: 36px;
  }

  .conteudo .descricao {
    max-width: 500px;
      color: #ffffff;
      font-family: "Rubik";
      line-height: 24px;
      width: 250px;
  }


  .botoes {
    flex-direction: column  ;
    align-items: flex-end;
    padding: 30px;
  }

  .botoes .botao img {
    max-width: 60px;
  }
}

@media (max-width: 425px) {
  main .personagem .imagem {
    height: auto;
  }

  .conteudo {
    top: -30%;
  }

  .conteudo .logo {
    width: 212px;
    height: 101px;
    margin: 0 0 5px -31px;
}

  .conteudo .nome-personagem {
    font-size: 50px;
    text-align: right;
  }

  .botoes {
    padding: 20px;
  }

  .botoes .botao img {
    max-width: 50px;
    
  }
}
